!!!
%html
  %head
    %meta{http: {equiv: 'Content-Type'}, content: 'text/html; charset=UTF-8'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
    %title< FakePay
    %link{href: '/css/bootstrap.min.css', rel: 'stylesheet', media: 'screen'}
    %link{href: '/css/style.css', rel: 'stylesheet', media: 'screen'}
  %body
    = yield
    %script{src: '/js/jquery-2.0.3.min.js'}
    %script{src: '/js/jquery.countdown.min.js'}
    %script{src: '/js/bootstrap.min.js'}
    :javascript
      $(document).ready(function(){
        $('#dev-toggle').click(function(){
          $('#dev-toggle-icon').toggleClass('glyphicon-eye-open glyphicon-eye-close');
          $('#dev-info').toggleClass('hidden show');
        });
      });