- if @params.size > 0
  .row.payment-details
    .col-md-6
      %h2 Payment details
    .col-md-6
      %a#dev-toggle.pull-right{href: '#'}
        #dev-toggle-icon.glyphicon.glyphicon-eye-open
        %span Developer information
  .row
    .col-md-12
      %table.table.table-bordered
        %tr
          %th
            Reference
          %td
            = @params['cartId']
        %tr
          %th
            Description
          %td
            = @params['desc']
        %tr
          %th
            Amount
          %td
            = @params['amount']
        %tr
          %th
            Currency
          %td
            = @params['currency']