h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.5em;
  margin-top: 1.5em;
}

.payment-details {
  margin-top: 1.5em;
}

.payment-details h2 {
  margin-top: 0;
}

.payment-details a {
  margin-top: 0.5em;
}

.content-wrapper {
  width: 95%;
}

body {
  margin-top: 2em;
  margin-bottom: 3em;
}

p {
  font-size: 12pt;
}

pre {
  font-size: 10pt;
}